<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charase="UTF-8">
  <title>Trivial Quiz</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
<<<<<<< HEAD

=======
>>>>>>> 9055ae6d6b4193cf75c6dd27eeb5bb495b6a9a1b
</head>