<% include partials/header %>
<div class="container">
  <h1 class="index">Trival Quiz</h1>
  <p>
    <img src="/img/logo.png" alt="Quiz" width="100%">
  </p>
</div>
<a href="/quiz" class="start">Quiz START</a>
<% include partials/footer %>