<% include partials/header %>
<div class="container">
  <div id="mondai">Now loading...</div>
  <div id="question_number"></div>
  <ul id="answers">
  </ul>
  <div id="result"></div>
  <div class="button">
    <div id="reset" class="btn_b">Retrun to the first question</div><br>
    <a id="toppage" class="btn_d" href="/">Top page</a><br>
  </div>
</div>
<script>
  window.Express = {
    quizInstances: <%- JSON.stringify(quizInstances) %>
  };
</script>
<script src="js/main.js"></script>
<% include partials/footer %>